---
import { Icon } from 'astro-icon';
interface Props {
    links
}

const { links } = Astro.props
---

<style>
    div {
        display: flex;
        flex-direction: row;
        height: 100%;
        min-height: 2rem;
    }
    
    a {
        height: 100%;
        min-width: 2rem;
        margin-right: 0.5rem;
    }

    svg {
        fill: white;
    }
</style>

<div class="linkList" >
{links.map((link) => 
<a href={link.url}><Icon name={link.name} /></a>

)}
</div>
